<h1>"Welcome, <%=@user.name%>!"</h1>

<h2>Please select an option below:</h2>
<a href="/reviews">See All User Reviews</a><br>
<a href="/reviews/new">Add a Review</a><br>
<a href="/logout">Log Out</a>
<br>
<br>
<b>My Reviews:</b>
<br>
<% @user.restaurant_reviews.each do |review|%>
    <ul>
<br>
<li><b>Review Title:</b><%=review.title%><br><br/><u><b>Description:</b></u><%=review.description%></li><form action="/reviews/<%=review.id%>/edit" method="GET">
<input type="submit" value="Edit Review">
</form>
<br>
<form action="/reviews/<%=review.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Review">
    </ul>
</form>
    <% end %>
<br>
