<h1>Edit <%= @restaurant.title %></h1>

<form action="/reviews/<%=@restaurant.id %>/edit" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label> Reviewer's Name: </label>
  <input type="text" name="person_name" value="<%=@restaurant.person_name %>"> 
  <br>
  <br>
  <label> Review Title: </label>
  <input type="text" name="title" value="<%=@restaurant.title %>"> 
  <br>
  <br>
  <label> Review Description </label>
  <br>
  <textarea id="description" name="description" rows="10" cols="50" value="<%=@restaurant.description %>"> 
  </textarea>
  <input type="submit" value="Update">
  <br>
  <a href="/logout">Logout</a>
  
</form>