<h3>Reviews Index</h3>
<ul>
<%@restaurants.each do |review|%>
    <li><%=review.id%> ) <%=review.person_name%> - <a href="/reviews/<%=review.id%>"><%=review.title%></a></li>
    <%end%>
<br>
<a href="/users/<%=@user.id%>">Home</a>